.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background-image: url("../img/tile.png");
  background-repeat: repeat;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.text {
  align-self: center;
  color: #FFFFFF;
  font-family: "ThaleahFat", "Bitcell", serif;
  font-size: 48px;
  text-align: center;
  max-width: 90%;
}

.description {
  font-family: "ThaleahFat", "Bitcell", serif;
  max-width: 60%;
}

.descriptionHeader {
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
}

.descriptionContent {
  font-family: "ThaleahFat", "Bitcell", serif;
  font-size: 24px;
  color: #FFFFFF;
  text-align: justify;
}

.descriptionImg {
  width: 35%;
  height: auto;
  margin-top: 20px;
  border: #3f3865;
  border-radius: 5px;
  border-style: solid;
}

.a {
  color: cornflowerblue;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .text {
    font-size: 36px;
  }

  .descriptionHeader {
    font-size: 28px;
  }

  .descriptionContent {
    font-size: 20px;
  }

  .description {
    max-width: 100%;
  }

  .descriptionImg {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .text {
    font-size: 24px;
  }

  .descriptionHeader {
    font-size: 18px;
  }

  .descriptionContent {
    font-size: 16px;
  }

  .description {
    max-width: 100%;
  }

  .descriptionImg {
    width: 100%;
    max-width: 100%;
  }
}
