.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3rem;
  min-height: 100vh;
  background-image: url("../img/tile.png");

  background-repeat: repeat;
}
.content{
  flex-direction: row;
  width: 100%;
}
.text{
  align-self: center;
  color: #FFFFFF;
  font-family: "ThaleahFat", "Bitcell", serif;
  font-size: 64px;
}

.description{
  font-family: "ThaleahFat", "Bitcell", serif;
  float: left;
  width: 760px;
}
.descriptionHeader{
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
}
.descriptionContent{
  font-family: "ThaleahFat", "Bitcell", serif;
  font-size: 32px;
  color: #FFFFFF;
  text-align: justify;
}

.descriptionImg{
  float: right;
  margin-top: 20px;
  border: #3f3865;
  border-radius: 5px;
  border-style: solid;
}

.a{
  color: cornflowerblue;
}
